<!--<tb-phototag
[userId]=22
photoId=1
baseApiUrl="http://localhost:8000"
apiPath="/api/photo_tags"
apiRelationPath="/api/photo_photo_tag_relations"
apiRetrievePath="/api/photos/{id}/photo_tag_relations"
[basicTags]="basicTags"
(log)="log($event)"></tb-phototag>
-->

<tb-phototag
[userId]=22
photoId=1
baseApiUrl="http://localhost:8000"
apiPath="/api/user_occurrence_tags"
apiRelationPath="/api/occurrence_user_occurrence_tag_relations"
apiRetrievePath="/api/user_occurrence_tags/{id}/occurrence_relations"
obj1Name="occurrence"
obj1="/api/occurrences"
obj2Name="userOccurrenceTag"
obj2="/api/user_occurrence_tags"
(log)="log($event)"></tb-phototag>
